body{
    background-color: #ffffff;
    padding-bottom: 120px;
}

/* navbar icons */
span > a > i {
    font-size: 1.7em;
    letter-spacing: .5em;
}

span > a{
    color: rgb(143, 143, 143);
    padding-top: .1em;
    padding-bottom: .1em;

}

span > a:hover{
    color: rgb(107, 107, 107);
    text-decoration: none;
}
/* end nabar icons */



nav.navbar{
    background-color: #2e4653;
}

/* nameplate and photo*/

.nameplate {
    background-color: #20262b;
    color: #fff;
    min-height: 40vh;
}

.nameplate-content{
    
    width: 800px;
    margin: 0 auto;
    padding: 2em;
}

.nameplate-content-me{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 2em;
    margin-bottom: 3em;
}

#profilePic{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 70%;
}

.name{
    font-size: 60px;
    letter-spacing: .05em;
    font-weight: 700;
    line-height: 1em;
}

.title{
    font-size: 65px;
    text-align: center;
}

.resume {
    font-size: 50px;
    letter-spacing: .03em;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume > a{
    color: rgb(94, 89, 80);
    padding-top: .1em;
}

.resume > a:hover{
    color: rgb(0, 3, 170);
    text-decoration: none;
}
/* end nameplate and photo*/

.MyProjects{
    background-color: #d1d1d1;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
}

.test{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.projectsWrapper{
    gap: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    overflow-x: auto;
}

.projectPics{
    width: 400px;
    height: 200px;
    object-fit: cover;
}

.projectBody{
    width: 400px;
    height: 250px;
    background-color: #fff;
    padding: 1em;
}

.projectTagWrapper{
    display: flex;
    flex-wrap: wrap;
    gap: .3em;
}

.projectTag{
    background-color: #c6e8f3;
    width: fit-content;
    padding: 3px 20px;
    border-radius: 20px;
}

.aboutme{
    background-color: #ffffff;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
}


