{% extends "base/base.html" %}
{%block title%}Home{%endblock title%}
{% load static %}

{%block content%}
<nav class="navbar ">
  <div class="contact">
      <span><a href="https://www.linkedin.com/in/travis-cottrell-131636212/" target="_blank"><i class="bi bi-linkedin"></i></a></span>
      <span><a href="https://github.com/TravisCottrell" target="_blank"><i class="bi bi-github"></i></a></span>
  </div>
</nav>

<div class="nameplate">
  <div class="nameplate-content">
    <div class="nameplate-content-me">
      <img id="profilePic" src="{% static 'images/pfp2.png' %}">
      <h1 class="name">Travis<br>Cottrell</h1>
    </div>
    <h3 class="title">FullStack Developer</h3>
    <div class="resumeWrapper">
      <a class="resume btn btn-outline-secondary " href="{% static 'images/Travis_Cottrell.pdf' %}" target="_blank">Resume</a>
    </div>
  </div>
</div>

<div class="container-fluid MyProjects ">
<h3>My Projects</h3>
  <div class="projectSection">
    <div class="row">
      <div class="projectsWrapper">
        <div class="col">          
          <img class="projectPics" src="{% static 'images/Screenshot4.png' %}">
          <div class="projectBody">
              <h5>Image Search Website</h5>
              <p>Abilty to search in several different ways for images that are posted by a user.</p>
              <div class="projectTagWrapper">
              <span class="projectTag">XAMPP</span>
                <span class="projectTag">PHP</span>
                <span class="projectTag">JavaScript</span>
                <span class="projectTag">MySQL</span>
                <span class="projectTag">Bootstrap</span>
              </div>
          </div>
        </div>
      </div>

      <div class="projectsWrapper">
        <div class="col">
          <img class="projectPics" src="{% static 'images/Reloading.png' %}">
          <div class="projectBody">
              <h5>Reloading Data Tracker</h5>
              <p>Editable dynamic HTML table that stores data. Uses REST api so there's no refresh required to update the tables.</p>
              <div class="projectTagWrapper">
                <span class="projectTag">Django</span>
                <span class="projectTag">Python</span>
                <span class="projectTag">JavaScript</span>
                <span class="projectTag">REST</span>
                <span class="projectTag">Bootstrap</span>
              </div>
          </div>
          
        </div>
      </div>

      {% comment %} <div class="projects--wrapper">
        <div class="col">
          <img class="project--thumbnail" src="{% static 'images/screenshot3.png' %}">
          <div class="project--body">
              <h5>third project</h5>
          </div>
        </div>
      </div> {% endcomment %}

    </div>
  </div>
</div>

<div class="container-fluid ">
  <div class="container ">
    <div class="row d-flex justify-content-center">
      <div class="col-4" >
        <div class=" aboutme">
          <h3>About Me</h3>
          <p>
             I love eveything technology related. I've had a passion for building and tinkering with PCs for about 6 years. 
             I also love embedded systems like CNC machines and 3D printers.
          </p>

          <p> My main hobby is the outdoors. I love exploring nature and learning new things. I spend a lot of my spare time hiking, camping, and canoeing.
        </div>
      </div>
      {% comment %} <div class="col">
        <div class="skills">
          <h2>skills</h2>
          <h5>python</h5>
          <p>
            I have built a couple of websites using the Django framework including this one and the reloading data tracker website
          </p>
        </div>
      </div> {% endcomment %}
    </div>

  </div>
</div>

{%endblock content%}